# JetBrains IDE Dependencies
.idea

# Script Files
/scripts/*

# GitHub Page Dependencies 
# English Version
markdown/ Review of the course “R for Data Science”.md
markdown/EN/*
# Chinese Version
markdown/ Review of the course “R for Data Science”_CN.md
markdown/CN/*

# LaTeX Dependencies
# English Version
LaTeX/EN/REVIEW_01/expl3.tex
LaTeX/EN/REVIEW_01/ltluatex.tex
LaTeX/EN/REVIEW_01/.texpadtmp
LaTeX/EN/REVIEW_01/texput.log
# Chinese Version
LaTeX/CN/REVIEW_01/expl3.tex
LaTeX/CN/REVIEW_01/ltluatex.tex
LaTeX/CN/REVIEW_01/.texpadtmp
LaTeX/CN/REVIEW_01/texput.log

# PDF Files with Full Permission 
# English Version
PDF/EN/REVIEW_01_ignored.pdf
LaTeX/EN/REVIEW_01/REVIEW_01_ignored.pdf
# Chinese Version
PDF/CN/REVIEW_01_ignored_CN.pdf
LaTeX/CN/REVIEW_01/REVIEW_01_ignored.pdf

# Duplicate Image Files
markdown/CN/image/*
markdown/EN/image/*

# macOS System Files
.DS_Store
docs/.DS_Store
LaTeX/.DS_Store
markdown/.DS_Store
